.longLabel {
  color: var(--color-text, #09090b);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  display: flex;
  width: 320px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
}
