.ticketDetails {
  .detailsTitle {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .detailsTitleL {
      width: 835px;
      display: flex;
      align-items: center;
      gap: 12px;
      span {
        color: var(--color-text, #09090b);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
      .detailsStatus {
        display: flex;
        padding: 4px 5px;
        align-items: center;
        gap: 12px;
        border-radius: 30px;
        background: rgba(59, 138, 255, 0.2);
      }
    }
    .detailsTitleR {
      width: 212px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      align-self: stretch;
      span {
        color: #84818a;
        text-align: right;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
      }
    }
  }
  .detailsContent {
    display: flex;
    .detailsContentL {
      width: 646px;
      // height: 457px;
      display: flex;
      flex-direction: column;
      padding: 12px;
      flex: 1 0 0;
      align-self: stretch;
      .contentLTitle {
        margin-bottom: 16px;
        display: flex;
        padding: var(--space-0, 0px);
        align-items: flex-start;
        gap: 12px;
        span {
          color: var(--color-text, #09090b);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }
      .contentCommentArea {
        display: flex;
        padding: 12px;
        border-radius: 4px;
        background: #f8f8f8;
        margin-bottom: 16px;
        span {
          width: 557px;
          color: #616161;
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          margin-right: 10px;
        }
      }
      .contentKassaNum {
        margin-bottom: 16px;
        display: flex;
        span {
          color: var(--color-text, #09090b);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
        hr {
          width: 1px;
          height: 14px;
          background: #e3e3e3;
          margin-right: 12px;
          margin-left: 12px;
        }
      }
      hr {
        width: 622px;
        height: 1px;
        background: rgba(0, 0, 0, 0.15);
        margin-bottom: 16px;
      }
      .contentAddFile {
        display: flex;
        justify-content: space-between;
        .contentAddFileL {
          display: flex;
          padding: 4px 8px;
          align-items: center;
          gap: 12px;
          border-radius: 4px;
          background: #eef9ac;
          width: 118px;
          span {
            color: #2e2c34;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
          }
        }
        .contentAddFileR {
          display: flex;
          padding: 4px 8px;
          align-items: center;
          gap: 12px;
          border-radius: 4px;
          background: #ededed;
          span {
            color: #2e2c34;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
          }
        }
      }
    }
    .detailsContentHR {
      background: #e7e7e7;
      width: 1px;
      margin: 0 16px 0 16px;
      height: 457px;
    }
    .detailsContentR {
      position: relative;
      display: flex;
      width: 369px;
      flex-direction: column;
      align-self: stretch;
      .detailsContentRTitle {
        margin-bottom: 16px;
        display: flex;
        gap: 24px;
        .nonactive {
          color: var(--color-icon-muted, #71717a);

          /* text-sm/font-medium */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 142.857% */
          cursor: pointer;
        }
        .active {
          cursor: pointer;
          color: var(--color-text, #09090b);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }
      .taskHistory {
        display: flex;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 8px;
        background: #fcfcfc;
        overflow: auto;
        height: 420px;
        .taskHistoryCard {
          width: 100%;
        }
      }
      .detailsContentRWhoseDate {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: #fcfcfc;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 12px 16px 12px;
        align-items: center;
        .detailsContentRWhose {
          display: flex;
          align-items: center;
          span {
            color: var(--color-text, #09090b);
            margin-left: 7px;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }
        span {
          color: var(--color-icon-muted, #71717a);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
      .detailsContentRComment {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: #fcfcfc;
        width: 100%;
        padding: 0 12px 12px 12px;
        span {
          color: #84818a;
          font-family: Montserrat;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }
      .detailsContentAddComment {
        // margin-top: 139px;
        position: absolute;
        width: 369px;
        bottom: 0;

        input {
          display: flex;
          height: 110px;
          padding: 16px 20px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
          border-radius: 4px;
          border: 1px solid #e7e7e7;
          background: #fcfcfc;
          width: 369px;
          margin-top: 10px;
          outline: none;
        }
      }
    }
  }
  .detailsContentEnd {
    display: flex;
    justify-content: space-between;
  }
  .detailsContentEndHR {
    width: 1047px;
    height: 1px;
    background: #e7e7e7;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.closeIcon {
  cursor: pointer;
}

.contentWhose {
  width: 622px;
  display: flex;
  align-items: center;
  align-self: stretch;
  img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }
  span {
    color: var(--color-text, #09090b);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-right: 16px;
  }
  h4 {
    color: var(--color-icon-info, #2563eb);
    /* text-base/font-medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 16px;
    cursor: pointer;
  }

  .whoseTextSender {
    position: relative;
    display: flex;
    width: 409px;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    background: #579cff;
    span {
      color: #fff;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
  }
  h5 {
    cursor: pointer;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px dashed var(--color-border, #e4e4e7);
    background: var(--base-white, #fff);
  }
  .whoseTextSenderTT {
    display: flex;
    width: 401px;
    // height: 164px;
    padding: 16px;
    flex-direction: column;

    gap: 24px;
    position: absolute;
    left: 435px;
    bottom: 65px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 14px 3px rgba(0, 0, 0, 0.08);
    .whoseTextSenderHead {
      width: 369px;
      height: 32px;
      display: flex;
      padding-top: 4px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }
    .whoseTextSenderPerson {
      cursor: pointer;
      border-radius: 40px;
      background: #f5f5f5;
      display: flex;
      padding: 4px 0px;
      align-items: center;
      gap: 7px;
      align-self: stretch;
      img {
        margin-right: 7px;
      }
    }
  }
  .whoseTextLast {
    display: flex;
    align-items: center;
    img {
      margin-left: 24px;
      margin-right: 7px;
    }
    span {
      color: #84818a;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      margin-right: 24px;
    }
  }
}
